<!DOCTYPE html>

<html lang="en-US it">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="TORCH system">
        <title>TORCH - Goods</title>
        <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='pictures/main/torch_icon.ico')}}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.14.1/jquery-ui.min.js"></script>
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.14.1/themes/smoothness/jquery-ui.css">
        <link rel="stylesheet" href="{{url_for('static', filename='main_style.css', version='1.0')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='goods.css', version='1.0')}}">
        <script src="{{url_for('static', filename='main_scripts.js', version='1.0')}}"></script>
        <script src="{{url_for('static', filename='goods.js', version='1.0')}}"></script>
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');
        </style>
    </head>

    <body>
        <!-- Operations in progress -->
        <div id="div-operations-in-progress" class="hidden-div">
            <div class="hidden-div-contents">
                <img src="{{url_for('static', filename='pictures/main/operations_in_progress.png')}}">
            </div>
        </div>

        <!-- Quick alert div -->
        <div id="div-quick-alert"></div>

        <!-- Alert -->
        <div id="div-alert" class="hidden-div">
            <div class="hidden-div-contents">
                <!-- Top Bar -->
                <div class="div-flex div-topbar">
                    <h2 class="main-text-red" id="alert-title"></h2>
                    <img id="alert-close" class="close-button" src="{{url_for('static', filename='pictures/main/close_icon.png')}}">
                </div>
                <!-- Text -->
                <div class="div-block">
                    <p class="main-text-white" id="alert-text"></p>
                </div>
                <!-- Input and Button -->
                <div class="div-flex div-bottombar">
                    <input class="main-input" id="alert-input">
                    <button class="main-button-yellow" id="alert-ok-button">OK</button>
                </div>
            </div>
        </div>

        <!-- Item div -->
        <div id="div-item-management" class="hidden-div">
            <div class="hidden-div-contents">
                <!-- Top Bar -->
                <div class="div-flex div-topbar">
                    <h2 class="main-text-green">{{language[session['language']]['goods']['item-management']}}</h2>
                    <img id="item-management-close" class="close-button" src="{{url_for('static', filename='pictures/main/close_icon.png')}}">
                </div>
                <!-- Center -->
                <div class="div-block">
                    <!-- Left inputs -->
                    <div class="div-inline">
                        <!-- Category input -->
                        <input class="main-input" id="item-management-category-input" placeholder="{{language[session['language']]['goods']['category']}}">
                        <!-- Type input -->
                        <input class="main-input" id="item-management-type-input" placeholder="{{language[session['language']]['goods']['type']}}">
                    </div>
                    <!-- Right item details -->
                    <div class="div-inline">
                        <p class="main-text-green">{{language[session['language']]['goods']['item-detail']}}</p>
                        <p class="main-text-green" id="item-management-details-p"></p>
                    </div>
                </div>
                <!-- Item output -->
                <div class="div-block">
                    <h2 class="main-text-green" id="item-code-output-h2">{{language[session['language']]['goods']['item-code-output']}}</h2>
                </div>
            </div>
        </div>

        <!-- [= Header =] -->
        <div class="div-flex">
            <!-- Logo -->
            <div class="div-inline">
                <a class="main-a" href="/"><img alt="logo" src="{{url_for('static', filename='pictures/main/torch_logo_simple.png')}}"></a>
            </div>

            <!-- Languages buttons and login / logout buttons -->
            <div class="div-inline">
                <!-- Languages buttons -->
                <div class="div-block" style="width: max-content;">
                    <img id="it_language_button" alt="Italian Flag" src="{{url_for('static', filename='pictures/main/it_flag.png')}}">
                    <img id="en_language_button" alt="Great Britain Flag" src="{{url_for('static', filename='pictures/main/en_flag.png')}}">
                </div>
                <!-- Login / Logout buttons -->
                <div class="div-block">
                    {% if "logged" in session %}
                        <button class="main-button-green" id="logout-button">{{language[session['language']]['main']['logout']}}</button>
                    {% endif %}
                </div>
            </div>
            <!-- Search input -->
            <div class="div-inline-fill">
                <input class="search-input" id="goods-search-input" placeholder="{{language[session['language']]['goods']['search-input-placeholder']}}">
            </div>
        </div>

        <!-- [= Center =] -->
        <div class="div-block">
            <!-- Main functions -->
            <div class="div-block">
                <button class="main-button-green" id="new-item-button">{{language[session['language']]['goods']['new-item-button']}}</button>
            </div>

            <!-- Goods table -->
            <div class="div-block main-table-div">
                <table class="main-table">
                    <tbody>
                        <tr>
                            <th><h3 class="main-text-green">{{language[session['language']]['goods']['goods-table-code']}}</h3></th>
                            <th><h3 class="main-text-green">{{language[session['language']]['goods']['goods-table-description']}}</h3></th>
                            <th><h3 class="main-text-green">{{language[session['language']]['goods']['goods-table-stock']}}</h3></th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>